html, body {
    height: 100%;
    background-color: #fafafa;
    margin: 0px;
}

video {
    width: 100%;
    height: auto;
}
#remote-video{
    width: auto;
    height: 100%;
}

.sound-only-text {
    display: none;
    position: absolute;
    left: 0px;
    color: red;
    text-align: center;
}